<h2 style="margin: 20px;">Pay Runs</h2>
<mat-tab-group animationDuration="0ms">
    <mat-tab label="Run Payroll">
        <div class="run-class">
            <img src="https://css.zohostatic.in/zfpayroll/zpayroll//assets/images/empty-states/ind/payrun-setup.svg" alt="">
            <h2>There are a few things that need your attention.</h2>
            <p>We know you're excited to run your first payroll, but you need to finish your <br> organisation setup first. Don't worry, it will only take a few minutes.</p>
            <a href="home"><button mat-raised-button color="primary">Complete Setup</button></a>
        </div>
    </mat-tab>
    <mat-tab label="Payroll History">
        <div class="run-class">
            <img class="img-history" src="https://css.zohostatic.in/zfpayroll/zpayroll//assets/images/empty-states/ind/payrun-history.svg" alt="">
            <h2>You don't have any completed pay runs</h2>
            <p>Once you complete a pay run, you can view your employees' salaries, taxes and <br> deductions for all completed pay runs here.</p>
        </div>
    </mat-tab>
</mat-tab-group>
