<div class="container">
    <mat-stepper>
        <mat-step>
            <form
                [formGroup]="basicsForm"  >
                <div
                    class="row"
                    *ngFor="let row of basicsFormData; let in = index">
                    <div
                        class="col"
                        *ngFor="let field of row" >
                        <div
                            [ngSwitch]="field.type" >

                            <!-- input  -->
                            <div
                                *ngSwitchCase="'input'" >
                                <mat-form-field
                                    class="w-100" >
                                    <mat-label>
                                        {{ field.label }}
                                    </mat-label>
                                    <input
                                        matInput
                                        formControlName={{field.formControlName}}
                                        placeholder={{field.label}} 
                                        type="text" >
                                </mat-form-field>
                            </div>

                            <!-- select -->
                            <div
                                *ngSwitchCase="'select'" >
                                <mat-form-field
                                    class="w-100" >
                                    <mat-label>
                                        {{ field.label }}
                                    </mat-label>
                                    <mat-select
                                        formControlName={{field.formControlName}} >
                                        <mat-option
                                            *ngFor="let option of field.options"
                                            value="option" >
                                            {{option}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <!-- checkbox -->
                            <div
                                *ngSwitchCase="'checkbox'" >
                                <mat-checkbox
                                    formControlName={{field.formControlName}} >
                                    <span class="fw-bold">
                                        {{ field.label }}
                                    </span>
                                </mat-checkbox>
                                <p class="px-4">
                                    {{ field.text }}
                                </p>
                            </div>

                            <!-- datepicker -->
                            <div
                                *ngSwitchCase="'datepicker'" >
                                <mat-form-field class="w-100">
                                    <input 
                                        matInput
                                        [matDatepicker]="dateOfJoining" >
                                    <mat-datepicker-toggle matSuffix [for]="dateOfJoining"></mat-datepicker-toggle>
                                    <mat-datepicker #dateOfJoining></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <!-- autocomplete -->
                            <div
                                *ngSwitchCase="'autocomplete'" >
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        {{ field.label }}
                                    </mat-label>
                                    <input type="text"
                                           placeholder={{field.label}}
                                           matInput
                                           formControlName={{field.formControlName}}
                                           [matAutocomplete]="auto" >
                                    <mat-autocomplete
                                        #auto="matAutocomplete" >
                                        <mat-option *ngFor="let option of field.options"
                                                    [value]="option" >
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            
                            <div
                                *ngSwitchDefault >
                                default
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step>
            hi
        </mat-step>
    </mat-stepper>
</div>