<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened>
        <!-- <button (click)="sideNav.toggle()">toggle</button> -->
        <mat-list>
            <mat-list-item class="headings">
                <a matLine routerLink="/home" routerLinkActive="active">Home</a>
            </mat-list-item>
            <mat-list-item class="headings">
                <a matLine routerLink="/employees" routerLinkActive="active">Employee</a>
            </mat-list-item>
            <mat-list-item class="headings">
                <a matLine routerLink="/payruns" routerLinkActive="active">Pay runs</a>
            </mat-list-item>
            <mat-menu #subMenu="matMenu" class="headings">
                <mat-list-item>
                    <a class="submenu1" matLine mat-menu-item routerLink="/reimburse"
                        routerLinkActive="active">Reimbursements</a>
                </mat-list-item>
                <mat-list-item>
                    <a class="submenu1" matLine mat-menu-item routerLink="/poi" routerLinkActive="active">Proof of
                        Investments</a>
                </mat-list-item>
                <mat-list-item>
                    <a class="submenu1" matLine mat-menu-item routerLink="/salaryRevise"
                        routerLinkActive="active">Salary
                        Revision</a>
                </mat-list-item>
            </mat-menu>
            <mat-list-item class="headings">
                <a [matMenuTriggerFor]="subMenu">Approvals</a>
            </mat-list-item>
            <mat-list-item class="headings">
                <a matLine routerLink="/form16" routerLinkActive="active">Form 16</a>
            </mat-list-item>
            <mat-list-item class="headings">
                <a matLine routerLink="/loans" routerLinkActive="active">Loans</a>
            </mat-list-item>
            <mat-list-item class="headings">
                <a matLine routerLink="/reports" routerLinkActive="active">Reports</a>
            </mat-list-item><br>
            <mat-divider></mat-divider>
            <mat-list-item class="contact">
                <a matLine routerLink="/contacts" routerLinkActive="active">Contact Support</a>
            </mat-list-item><br>
            <button class="close" mat-mini-fab color="primary" (click)="sideNav.toggle()">
                <mat-icon> arrow_left</mat-icon>
            </button>
        </mat-list>
    </mat-sidenav>

        

    <mat-toolbar  class="navbar">
        <div>
            <button mat-button disableRipple (click)="sideNav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div>
            <img class="brand-pic" src="https://www.pngitem.com/pimgs/m/80-809941_zoho-integrations-icon-zoho-office-suite-hd-png.png" alt="">
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>

</mat-sidenav-container>