<div class="heading">
    <h2>Welcome !</h2>
    <p>Set up your organisation before you run your first payroll.</p>
</div>
<mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>Learn how to use Zoho Payroll</mat-card-title>
      <!-- <mat-card-subtitle></mat-card-subtitle> -->
    </mat-card-title-group>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-content>
      1.Add organisation Details
    </mat-card-content>
    <mat-card-content>
      2.Provide your tax Details
    </mat-card-content>
    <mat-card-content>
      3.Configure your Pay Schedule
    </mat-card-content>
    <mat-card-content>
      4.Set up Statutory Components
    </mat-card-content>
    <mat-card-content>
      5.Set up Salary Components
    </mat-card-content>
    <mat-card-content>
      6.Add Employees 
    </mat-card-content>
    <mat-card-content>
      7.Configure Prior Payroll 
      </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>Additional Notable features</mat-card-title>
      <!-- <mat-card-subtitle></mat-card-subtitle> -->
    </mat-card-title-group>
    <br>
    <mat-card-content>
          Direct Deposit
      
    </mat-card-content>
  </mat-card>







  <footer>
    <div class="footer-content">
      <div>
        <div class="footer-download">
          <img class="pic1" src="https://css.zohostatic.in/zfpayroll/zpayroll/assets/images/mobile-dashboard-6c8e1951aeca90821dfaa475a1967a1c.png"> 
        <p> Payroll portal app for your employees; <br> accessible anywhere anytime </p>
        </div>
      </div>
      <div>
        <ul>
          <p class="footer-title">OTHER ZOHO APPS</p>
          <li>
            <a href="#" class="order">Accounting Software</a>
          </li>
          <li>
            <a href="#" class="order">HR Software</a>
          </li>
          <li>
            <a href="#" class="order">Invoice Software</a>
          </li>
          <li>
            <a href="#" class="order">Inventory Management</a>
          </li>
          <li>
            <a href="#" class="order">Subscription Billing</a>
          </li>
          <li>
            <a href="#" class="order">Expense Reporting</a>
          </li>
          <li>
            <a href="#" class="order">CRM & Other Apps</a>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <p class="footer-title">HELP & SUPPORT</p>
          <li>
            <a href="#" class="order">Contact support</a>
          </li>
          <li>
            <a href="#" class="order">Help Documentation</a>
          </li>
          <li>
            <a href="#" class="order">FAQ</a>
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <p class="footer-title">QUICK LINKS</p>
          <li>
            <a href="#" class="order">Features</a>
          </li>
          <li>
            <a href="#" class="order">Integrations</a>
          </li>
          <li>
            <a href="#" class="order">Whats New?</a>
          </li>
        </ul>
      </div>

    </div>



  </footer>

  