<div class="heading">
  <h2>Welcome !</h2>
  <p>Set up your organisation before you run your first payroll.</p>
</div>
<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title>Learn how to use Zoho Payroll</mat-card-title>
    <!-- <mat-card-subtitle></mat-card-subtitle> -->
  </mat-card-title-group>
  <mat-card-content>

  </mat-card-content>
</mat-card>
<!-- card-2 -->
<mat-card class="card-first">
  <div style="display: flex;">
    <div>
      <mat-card-content>
        <h4>Get started with Zoho Payroll</h4>
      </mat-card-content>
      <mat-card-content>
        <p style="font-size:12px;position: relative;bottom: 15px;">Complete the following steps to have a hassle-free
          payroll experience</p>  
      </mat-card-content>
      <mat-card-content>
        
      </mat-card-content>
    </div>
      <mat-progress-bar color="accent" mode="determinate" value="20"></mat-progress-bar>
      <p class="progress-status">1/7 completed</p>
  </div>
</mat-card>
<!-- card-3 -->
<mat-card class="card-second">
  <mat-card-title-group>
    <mat-card-title>Additional Notable features</mat-card-title>
    <!-- <mat-card-subtitle></mat-card-subtitle> -->
  </mat-card-title-group>
  <br>
  <mat-card-content>
    Direct Deposit
    Salay Templates
    Auto Remainder for IT & POI Declaration
    Employee Custom Field
  </mat-card-content>
</mat-card>




<mat-card class="card4">
  <mat-card-title-group>
    <mat-card-title>Additional Notable features</mat-card-title>
    <!-- <mat-card-subtitle></mat-card-subtitle> -->
  </mat-card-title-group>
  <br>
  <mat-card-content class="content">
    <a  style="text-decoration:none; color: black;" href="#">Direct Deposit</a>
    <a  style="text-decoration:none; color: black;" href="#">Salary Templates</a>
    <a  style="text-decoration:none; color: black;" href="#">Remainder for IT & POI Declaration</a>
    <a  style="text-decoration:none; color: black;" href="#">Employee Custom Field</a>
  </mat-card-content>
</mat-card>



<mat-card class="card5">
  <mat-card-content class="content">
    <p>Need Clarification? Drop us an e
      mail and we’ll get back to you</p>


    <p>You can directly talk to us 
      every Monday to Friday 
      9:00 AM to 7:00 PM</p>
    
  </mat-card-content>
</mat-card>





<!-- footer -->
<footer>
  <div class="footer-content">
    <div>
      <div class="footer-download">
        <img class="pic1"
          src="https://css.zohostatic.in/zfpayroll/zpayroll/assets/images/mobile-dashboard-6c8e1951aeca90821dfaa475a1967a1c.png">
        <p> <strong>Payroll portal app</strong> for your employees; <br> accessible anywhere anytime </p>
      </div>
      <div class="app-store" style="display: flex;">
        <div>
          <a href=""><img class="app-store-pics"
            src="https://css.zohostatic.in/zfpayroll/zpayroll/assets/images/play-store-597518f48422b9a2d2556a3c06cc3081.png"
            alt=""></a>
        </div>
        <div>
          <a href=""><img class="app-store-pics"
            src="https://css.zohostatic.in/zfpayroll/zpayroll/assets/images/app-store-9fc9c1c328a915bac7e768fff1bbda40.png"
            alt=""></a>
        </div>
      </div>
    </div>
    <div>
      <ul>
        <p class="footer-title">OTHER ZOHO APPS</p>
        <li>
          <a href="#" class="order">Accounting Software</a>
        </li>
        <li>
          <a href="#" class="order">HR Software</a>
        </li>
        <li>
          <a href="#" class="order">Invoice Software</a>
        </li>
        <li>
          <a href="#" class="order">Inventory Management</a>
        </li>
        <li>
          <a href="#" class="order">Subscription Billing</a>
        </li>
        <li>
          <a href="#" class="order">Expense Reporting</a>
        </li>
        <li>
          <a href="#" class="order">CRM & Other Apps</a>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <p class="footer-title">HELP & SUPPORT</p>
        <li>
          <a href="#" class="order">Contact support</a>
        </li>
        <li>
          <a href="#" class="order">Help Documentation</a>
        </li>
        <li>
          <a href="#" class="order">FAQ</a>
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <p class="footer-title">QUICK LINKS</p>
        <li>
          <a href="#" class="order">Features</a>
        </li>
        <li>
          <a href="#" class="order">Integrations</a>
        </li>
        <li>
          <a href="#" class="order">Whats New?</a>
        </li>
      </ul>
    </div>

  </div>
  <p style="text-align: center; font-size: 11px;">© 2022, Zoho Corporation Pvt. Ltd. All Rights Reserved.</p>



</footer>